
body {
    background-color: lightblue;
}
.container {
    text-align: center;
}
#error{
    color:red;
    font-weight:bold;
}

.hidden {
visibility: hidden;
display: none;
}

.phraseContainer {
    background-color: white;
    border: solid black 5px;
    border-radius: 5%;
    min-width:50vw;
    min-height:10vh;
}

#start {
    min-width:8vw;
    min-height:5vh;
}
#start :hover{
    border: solid black 3px;
}

.statsContainer {
    border: ridge black 5px;
    background-color:lightslategray;
    width: 50%;
    text-align:center;
    
    margin:auto;
    margin-top: 10vh;
}